@{
    ViewData["Title"] = "Home Page";


    var computername = ViewBag.computername;
    var deploymentType = ViewBag.blue_or_green;
    var utcTime = ViewBag.utc_time;
}

    <div class="text-center">
        <h1 style="color:blue" class="display-4">@deploymentType</h1>
        <h2>On Host: @computername</h2>
        <h3>Current UTC Time: @utcTime</h3>
    </div>
